.docCardType {
    font-size: smaller;
    margin-left: 15px;
    color:slategray;
}
.incidentCard {
    margin-bottom: 5px !important;
    margin-right: 5px;
}
.incidentCardContainer {
    float:left;
    width:220px;
    margin: 2px;
}
.panelStyle{  
    background: white;
}
.tableStyle{  
    display:  table ;
    margin-left :  50px ;
}